body{
  background-image: url("img/pixel.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.row {
  margin: inherit;
  padding: inherit;
	margin-left: 0;
	display: flex;
}

.selectcolorbox{
  position: absolute;
  top: 200px;
  left: 60px;
}
.selectcolorbox p{
  margin-left: -15px;
}
.selectcolor {
  width: 60px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
}

.thumbnail {
  background-color: black;
  border: 1px solid lightblue;
  box-shadow: 5px 5px 15px lightblue;
  border-radius: 10px;
}

#preview img {
  max-height: 482px;
  border: 1px solid #303030;
}

#File {
  display: none;
}

.upload, .upload:hover {
  background-color: black;
  padding: 20px;
  color: #04BC00;
	border: 1px solid lightblue;
  box-shadow: 5px 5px 5px lightblue;
}
.upload:hover{
color: yellow;
}

.dragonerow {
  width: 450px !important;
}

.onerow {
  width: 480px;
  background-color: inherit;
  line-height: 14px;

}

h1 {
  color: yellow;
  text-align: center;
  padding-top: 20px;
}

.dragonerow {
  width: 480px;
  margin-left: 140px;
}

.dragsquare {
  cursor: grab;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid white;
}

.square {
  cursor: cell;
  width: 15px;
  height: 15px;
  margin: 0;
  border: 1px inset;
  display: inline-block;
}

#preview {
  padding-top: 50px;
}

.reset{
	width: 100px;
  height: 50px;
  margin-left: 100px;
}

.view{
	height: 50px;
	width: 100px;
	margin-left: 10px;
}
.view:hover{
	color: yellow;
}
.reset:hover{
	color: yellow;
}

#selector {
  width: 686px;
  background-color: black;
  border: 1px solid lightblue;
  box-shadow: 5px 5px 5px lightblue;
  border-radius: 5px;
  border-bottom: none;
  padding : 25px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.outils{
  height: 482px;
  width: 140px;
  background-color: black;
}

#wrapper{
	background-image: url("img/skulls.png");
	width: 480px;
	height: 480px;
  padding: 0;
	background-size: content;
	box-shadow: 5px 5px 5px lightblue;
}
.draw{
  padding: 0;
  margin: 0;
  width: 686px;
  background-color: black;
  padding-bottom: 50px;
  border: 1px solid lightblue;
  border-top: none;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  box-shadow: 5px 5px 5px lightblue;
}

p{
	font-size: 10px;
  color: #04BC00;
}

.outils p{
  text-align: center;
}

.art {
  padding-bottom: 50px;
  padding-top: 50px;
}

.prez {
  background-image: url("img/ban.png");
  height: 130px;
  padding-top: 30px;
  text-align: center;
}

.bandeau {
  height: 80px;
  background-color: black;
  border: 1px solid #04BC00;
  border-top: none;
  box-shadow: 5px 5px 5px lightblue;
  margin-top: -20px;
}

* {
  font-family: "Press Start 2P";
}

#inputcolor {
  cursor: pointer;
  margin-left: 0px;
}

#inputcolorp{
  margin-left: 120px;
}

#drag0 {
  background-image: url("img/gomme.png");
  background-size: contain;
  background-color: transparent !important;
  border: none;
}

.size1, .size2, .size3{
  background-color: white;
  margin: auto;
  margin-bottom: 10px;
}

.size1{
  width: 15px;
  height: 15px;
}

.size2{
  width: 45px;
  height: 45px;
}

.size3{
  width: 75px;
  height: 75px;
}
